{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="style.css">-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Stock Visualizer</title>
</head>

<body>
    <h2>Interactive Stock & Crypto Visualizer</h2>

    <!-- First Graph and Input Area-->
    <div class="input-container">
        <label for="ticker-input">Enter Symbol:</label>
        <input type="text" id="ticker-input">
        <input type="button" value="Submit" id="submit-btn">
    </div>
    <div id="graph-area">
        <canvas id="myChart"></canvas>
    </div>

    <!-- Second Graph and Input Area-->
    <div class="input-container">
        <label for="currency_code">Enter Currency Code:</label>
        <input type="text" id="currency_code">
        <input type="button" value="Submit" id="submit-btn-2">
    </div>
    <div id="graph-area-2">
        <canvas id="myChart-2"></canvas>
    </div>
    <div>
        Disclaimer: If you notice the graphs stop updating, we have likely hit out API refresh limit for our key.
    </div>

    <!-- Imported Script -->
    <script src="{% static 'home.js' %}">
    </script>
</body>
</html>
